.full__accordion {
    margin: 25px 0px 25px 0px;
    max-width: 1200px;
}
.accordion{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}
.accordion__title{
    font-family: "Crafty Girls", cursive;
    font-size: 21px ;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    padding: 15px 5px;
    cursor: pointer;
    border-bottom: 1px solid white;
    border-top: none;
    color: white;
    background-color: rgb(0, 0, 0);
}
.accordion__title.active{
    box-shadow: 0 0 12px 1px white;
}
.accordion__title span{
    display: inline-flex;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: transparent;
    transform: rotate(0);
    transition: transform 0.5s ease-out;
}
.accordion__title span::before{
    content:"";
    position:absolute;
    width: 20px;
    height: 2px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}
.accordion__title span::after{
    content:"";
    position:absolute;
    width: 2px;
    height: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}
.accordion__title.active span{
    transform: rotate(45deg);
}
.accordion__content{
    font-size: 17px;
    font-family: "Crafty Girls", cursive;
    color: white;
    filter: drop-shadow(0 0 0.3rem rgb(161, 104, 19));
    font-weight: 400;
    font-size: 17px;
    overflow: hidden;
    padding: 0 20px;
    box-sizing: content-box;
    border: 1px solid white;
    border-top: none;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out 0.5s, visibility 0.1s ease-out 0.5s;
}
.accordion__content.active{
    visibility: visible;
    opacity: 1;
    padding: 20px;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out, visibility 0.1s ease-out;
}