@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    margin: auto;
    background: url(https://images.pexels.com/photos/402028/pexels-photo-402028.jpeg) no-repeat top center;
    background-color: black;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 100% auto;
}
body{
    background-color: #000000;
}

:root{
    --background_color: #000000;
    --main_text_color: #000000;
    --second_main_text_color: #ffffff;

}