.title_text{
    font-family: "Crafty Girls", cursive;
    font-weight: 400;
    font-style:normal;
    font-size: 40px;
    text-align:justify;
    margin-top: 250px;
}

.header__nav{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 20px;
    margin-bottom: 50px;
    max-width: 1200px;
}
.header__menu-list{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.header__menu-item a{
    font-family: "Crafty Girls", cursive;
    font-weight: 400;
    font-style: normal;
    color: var(--main_text_color);
    text-decoration: none;
    font-size: 20px;
    margin-right: 52px;
}
.header__menu-item a:hover{
    color: #ffffff;
    font-weight: bold;
}

.mark{
    max-width: 500px;
    max-height: 500px;
    animation: rotate 21s linear infinite;
    position: absolute;
}
.title_obj{
    display: flex;
}
.rectangle {
    width: 298px;
    height: 229px;
    background-color: #000;
    opacity: 0.7;
    border-radius: 8px;
    transform: rotate(82deg);
    position: relative;
    bottom: -245px;
    right: -145px;
    z-index: 3;
}
.rectangle_2 {
    width: 298px;
    height: 229px;
    background-color: #000;
    opacity: 0.7;
    border-radius: 8px;
    transform: rotate(105deg);
    position: relative;
    bottom: 340px;
    right: -425px;
}
.rectangle_logo{
    max-width: 172px;
    max-height: 129px;
    position: relative;
    right: -191px;
    bottom: 7px;
    transform: rotate(-8deg);
    z-index: 4;
}
.rectangle_description{
    color: white;
    position: relative;
    font-family: "Crafty Girls", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    text-align: center;
    z-index: 4;
    right: -145px;
    bottom: -3px;
    transform: rotate(-7.5deg);
}
.rectangle_button{
    position: relative;
    z-index: 4;
    max-width: 111px;
    max-height: 128px;
    right: -256px;
    top: -26px;
    transform: rotate(-6deg);
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}