/* .background_img{
    width: 100%;
    height: auto;
    max-height: 1305px;
    max-width: 2560px;
    display: block;
    margin: auto;
} */
body{
    background: url(/images/bacground_img_8.0.jpeg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}