body {
    background-color: black;
}
h1, h2, p {
    color: white;
    font-family: "Crafty Girls", cursive;
    font-weight: 400;
    font-style:normal;
}
.technology_main {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.naked_tecgnology{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
